@import '@taiga-ui/core/styles/taiga-ui-local.scss';


body {
  background-color: #1b1b1b;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  padding: 2%;
}

.content {
  width:  80%;
  max-width: 40rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-gap {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.flex-column-gap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
